.cookies-policy-main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cookies-policy-logo-and-cancel {
    width: 100%;
    display: flex;
  
    justify-content: space-between;
    align-items: center;
  }
  .cookies-policy-logo{
      height: 70px;
      object-fit: cover;
      width: 70px;
  }
  .cookies-policy-cross{
      font-size: 30px;
      cursor: pointer;
  }
  .terms-and-conditons-heading{
      font-size: 70px;
      font-weight: 700;
  }
  .cookies-policy-text-container{
      width: 80%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .cookies-policy-text{
      font-size: 24px;
      line-height: 1.4;
      letter-spacing: 2px;
      text-align: justify;
  }