.collaborates-section {
  background-color: #f5f5f5; 
  padding: 20px 40px;
  text-align: center;
  /* width: 100%; */
}

.collaborates-title {
  font-size: 44px;
  font-weight: bold;
  color: #333;
  margin-bottom: 60px;
}

.collaborates-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between the items */
}

.collaborate-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collaborate-logo {
  width: 150px; /* Adjust based on your logo size */
  height: 150px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.collaborate-label {
  font-size: 24px;
  color: #333;
  margin: 0;
  text-align: center;
  line-height: 1.4; /* Adjust for better readability */
}

.divider {
  width: 1px;
  height: 150px; /* Adjust height to match the logo height */
  background-color: #333; /* Color of the vertical line */
  margin: 0 150px;
}