@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body,
#root,
*,
*::before,
*::after {
  font-family: 'Inter', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Preserve monospace font for code blocks */
code,
pre,
kbd,
samp {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !important;
}
